.banner {
  margin-bottom: 56px;
}

.banner__item {
  min-width: 240px;
  background-color: #fff1b8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  border-radius: 10px;

  @media screen and (min-width: 991px) {
    background-image: url("../../images/banners/banner-1.svg");
  }
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 36px;

  @media screen and (min-width: 576px) {
    padding: 52px;
  }

  @media screen and (min-width: 991px) {
    padding: 68px;
  }
}

.banner__text-title {
  color: var(--font-dark-color);
  font-size: 24px;
  font-weight: 700;
  max-width: 100%;
  margin: 0;

  @media screen and (min-width: 576px) {
    max-width: 80%;
    font-size: 32px;
  }

  @media screen and (min-width: 991px) {
    max-width: 40%;
    font-size: 39px;
  }
}

.banner__text-subtitle {
  color: var(--font-dark-color);
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  margin: 0;

  @media screen and (min-width: 576px) {
    max-width: 80%;
    font-size: 20px;
  }

  @media screen and (min-width: 991px) {
    max-width: 48%;
    font-size: 24px;
  }
}
