.delivery-logo {
  max-width: 100px;
}

.delivery-logo__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.delivery-logo__image {
  max-width: 32px;
  object-fit: contain;
}

.delivery-logo__title {
  color: var(--font-black-color);
  margin: 0;
  max-width: min-content;
}
