@import url("./restaurants-header.css");
@import url("./restaurants-card.css");

.restaurants {
  margin-bottom: 64px;
}

.restaurants__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}
