@import url("./products-header.css");
@import url("./products-card.css");

.products {
  margin-bottom: 64px;
}

.products__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
}
