.products__card {
  background-color: var(--bg-color-main3);
  display: inline-block;
  overflow: auto;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 4px 12px #0000000d;

  @media screen and (min-width: 576px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 991px) {
    width: calc((100% - 48px) / 3);
  }
}

.products__card-image {
  width: 100%;
  object-fit: contain;
}

.products__card-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 24px 34px;
  gap: 20px;
}

.products__card-name {
  color: black;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.products__card-ingredients {
  color: #8c8c8c;
  margin: 0;
}

.products__card-order {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.products__card-add {
  border: none;
  background-color: var(--bg-color-blue);
  color: white;
  max-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 2px;
}

.products__card-cart {
  display: inline-block;
  max-width: 16px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.products__card-price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
