.shopping-cart__point {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.shopping-cart__point-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  gap: 12px;

  @media screen and (min-width: 756px) {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}

.shopping-cart__point-name {
  font-size: 18px;
  font-weight: 400;
  max-width: 180px;

  @media screen and (min-width: 756px) {
    max-width: 240px;
  }
}

.shopping-cart__point-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.shopping-cart__point-price {
  width: max-content;
  font-weight: 700;
  margin: 0;
}

.shopping-cart__point-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.shopping-cart__point-add,
.shopping-cart__point-sub {
  width: 36px;
  height: 32px;
  background-color: var(--bg-color-main3);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}

.shopping-cart__point-count {
  width: 20px;
  text-align: center;
  margin: 0;
}

.shopping-cart__point-underline {
  width: 100%;
  border-radius: 2px;
}
