.products__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.products__header-title {
  margin: 0;
}

.products__header-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}

.products__header-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.products__header-star {
  max-width: 16px;
  object-fit: contain;
}

.products__header-points {
  color: var(--color-rating);
  margin: 0;
}

.products__header-price {
  color: var(--font-color-light);
  margin: 0;
}

.products__header-type {
  color: var(--font-color-light);
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.products__header-type::before {
  content: "";
  background-color: var(--font-color-light);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  flex-shrink: 0;
}
