.delivery-footer {
  background-color: var(--bg-color-main3);
  height: 156px;
  display: flex;
  align-items: center;

  &__inner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__navigation {
    flex-grow: 1;
  }

  &__navigation-list {
    margin-block-start: 8px;
    margin-block-end: 8px;
    display: inline-block;
  }

  &__navigation-item {
    display: inline-block;

    & > a {
      text-decoration: none;
      color: var(--font-color);
    }

    &:not(&:last-child) {
      margin-right: 16px;
    }
  }

  &__social {
    max-width: 128px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }

  &__social-icon {
    width: 24px;
    object-fit: contain;
  }
}
