.restaurants__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 16px;
  gap: 10px;
}

.restaurants__header-title {
  color: var(--font-black-color);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.restaurants__header-search {
  min-width: 306px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: var(--bg-main-color3);
  border: 1px solid var(--border-light);
  padding: 5px 12px;
}

.restaurants__header-search:focus {
  outline: none;
  border: 1px solid var(--border-light);
}

.restaurants__header-search::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
